.container {
  display: flex;
  justify-content: space-between;
  gap: 100px;
}

.textContainer {
    flex: 1;
    display: flex;
    flex-direction: column;                         
    gap: 50px
}

.subTitle {
color: var(--btn);
}

.title {
 font-size: 54px;
}

.desc {
 font-size: 20px;
 font-weight: 300;
}

.boxes {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px
}

.box {
    display: flex;
    flex-direction: column;
    gap:10px
}

.box h1 {
    color: var(--btn);
}

.image {
    object-fit: contain;
}


.imageContainer {
    position: relative;
    flex:1;
}
